<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepass</servlet-name>
        <servlet-class>changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveryPass</servlet-name>
        <servlet-class>RecoveryPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCourse</servlet-name>
        <servlet-class>deleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCourse</servlet-name>
        <servlet-class>edit.editCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchcourse</servlet-name>
        <servlet-class>fetchcourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcourse</servlet-name>
        <servlet-class>addcourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCategory</servlet-name>
        <servlet-class>editCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchsection</servlet-name>
        <servlet-class>fetchsection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addsection</servlet-name>
        <servlet-class>addsection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletesection</servlet-name>
        <servlet-class>deletesection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditSubject</servlet-name>
        <servlet-class>AdminEditSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addquestion</servlet-name>
        <servlet-class>addquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchquestion</servlet-name>
        <servlet-class>fetchquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletequestion</servlet-name>
        <servlet-class>deletequestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editquestion</servlet-name>
        <servlet-class>editquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterquestion</servlet-name>
        <servlet-class>filterquestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginCheck</servlet-name>
        <servlet-class>UserLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRecoveryPass</servlet-name>
        <servlet-class>UserRecoveryPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchusername_fromDB</servlet-name>
        <servlet-class>fetchusername_fromDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterques_course</servlet-name>
        <servlet-class>filterques_course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalresultservlet</servlet-name>
        <servlet-class>finalresultservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generatequestionservlet</servlet-name>
        <servlet-class>generatequestionservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchrandomquestions</servlet-name>
        <servlet-class>fetchrandomquestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultservlet</servlet-name>
        <servlet-class>resultservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unselectservlet</servlet-name>
        <servlet-class>unselectservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchrandomQuesCourse</servlet-name>
        <servlet-class>fetchrandomQuesCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generatequestionCourse</servlet-name>
        <servlet-class>generatequestionCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unselectservletCourse</servlet-name>
        <servlet-class>unselectservletCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultservletCourse</servlet-name>
        <servlet-class>resultservletCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalresultCourse</servlet-name>
        <servlet-class>finalresultCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchC_history</servlet-name>
        <servlet-class>fetchC_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchS_history</servlet-name>
        <servlet-class>fetchS_history</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkcoursetestques</servlet-name>
        <servlet-class>checkcoursetestques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thecourserank</servlet-name>
        <servlet-class>thecourserank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchprofile</servlet-name>
        <servlet-class>fetchprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editprofileSave</servlet-name>
        <servlet-class>editprofileSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>photoupload</servlet-name>
        <servlet-class>photoupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpaper</servlet-name>
        <servlet-class>addpaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchpaper</servlet-name>
        <servlet-class>fetchpaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletepaper</servlet-name>
        <servlet-class>deletepaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thesectiontest</servlet-name>
        <servlet-class>thesectiontest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thecoursetest</servlet-name>
        <servlet-class>thecoursetest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfeedback</servlet-name>
        <servlet-class>addfeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchfeedback</servlet-name>
        <servlet-class>fetchfeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Explanation</servlet-name>
        <servlet-class>Explanation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcontact</servlet-name>
        <servlet-class>addcontact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addreply</servlet-name>
        <servlet-class>addreply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchquery</servlet-name>
        <servlet-class>fetchquery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletequery</servlet-name>
        <servlet-class>deletequery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendTheMail</servlet-name>
        <servlet-class>vmm.sendTheMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchusername</servlet-name>
        <servlet-class>fetchusername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchnewnotify</servlet-name>
        <servlet-class>fetchnewnotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addclear</servlet-name>
        <servlet-class>addclear</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoveryPass</servlet-name>
        <url-pattern>/RecoveryPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCourse</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCourse</servlet-name>
        <url-pattern>/editCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchcourse</servlet-name>
        <url-pattern>/fetchcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcourse</servlet-name>
        <url-pattern>/addcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCategory</servlet-name>
        <url-pattern>/editCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchsection</servlet-name>
        <url-pattern>/fetchsection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addsection</servlet-name>
        <url-pattern>/addsection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletesection</servlet-name>
        <url-pattern>/deletesection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditSubject</servlet-name>
        <url-pattern>/AdminEditSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addquestion</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchquestion</servlet-name>
        <url-pattern>/fetchquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletequestion</servlet-name>
        <url-pattern>/deletequestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editquestion</servlet-name>
        <url-pattern>/editquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterquestion</servlet-name>
        <url-pattern>/filterquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginCheck</servlet-name>
        <url-pattern>/UserLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRecoveryPass</servlet-name>
        <url-pattern>/UserRecoveryPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchusername_fromDB</servlet-name>
        <url-pattern>/fetchusername_fromDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterques_course</servlet-name>
        <url-pattern>/filterques_course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalresultservlet</servlet-name>
        <url-pattern>/finalresultservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generatequestionservlet</servlet-name>
        <url-pattern>/generatequestionservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchrandomquestions</servlet-name>
        <url-pattern>/fetchrandomquestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultservlet</servlet-name>
        <url-pattern>/resultservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unselectservlet</servlet-name>
        <url-pattern>/unselectservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchrandomQuesCourse</servlet-name>
        <url-pattern>/fetchrandomQuesCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generatequestionCourse</servlet-name>
        <url-pattern>/generatequestionCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unselectservletCourse</servlet-name>
        <url-pattern>/unselectservletCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultservletCourse</servlet-name>
        <url-pattern>/resultservletCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalresultCourse</servlet-name>
        <url-pattern>/finalresultCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchC_history</servlet-name>
        <url-pattern>/fetchC_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchS_history</servlet-name>
        <url-pattern>/fetchS_history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkcoursetestques</servlet-name>
        <url-pattern>/checkcoursetestques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thecourserank</servlet-name>
        <url-pattern>/thecourserank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchprofile</servlet-name>
        <url-pattern>/fetchprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editprofileSave</servlet-name>
        <url-pattern>/editprofileSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>photoupload</servlet-name>
        <url-pattern>/photoupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpaper</servlet-name>
        <url-pattern>/addpaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchpaper</servlet-name>
        <url-pattern>/fetchpaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletepaper</servlet-name>
        <url-pattern>/deletepaper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thesectiontest</servlet-name>
        <url-pattern>/thesectiontest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thecoursetest</servlet-name>
        <url-pattern>/thecoursetest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfeedback</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchfeedback</servlet-name>
        <url-pattern>/fetchfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Explanation</servlet-name>
        <url-pattern>/Explanation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcontact</servlet-name>
        <url-pattern>/addcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addreply</servlet-name>
        <url-pattern>/addreply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchquery</servlet-name>
        <url-pattern>/fetchquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletequery</servlet-name>
        <url-pattern>/deletequery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendTheMail</servlet-name>
        <url-pattern>/sendTheMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchusername</servlet-name>
        <url-pattern>/fetchusername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchnewnotify</servlet-name>
        <url-pattern>/fetchnewnotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addclear</servlet-name>
        <url-pattern>/addclear</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
